@page "/lab-menu"

<div class="lab-header">
    <h2>Lab Menu</h2>
</div>

<div class="dashboard-container">
    <div class="card total-test">
        <div class="card-content">
            <h6>Total Test</h6>
            <p>0</p>
        </div>
    </div>

    <div class="card finished-test">
        <div class="card-content">
            <h6>Finished Test</h6>
            <p>0</p>
        </div>
    </div>

    <div class="card pending-test">
        <div class="card-content">
            <h6>Pending Test</h6>
            <p>0</p>
        </div>
    </div>
</div>
